* {
  box-sizing: border-box;
  scrollbar-width: thin;
}

html,
body,
#root {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: var(--semi-color-link, var(--semi-color-primary));
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

:root {
  color-scheme: light dark;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: #fff;
  background: var(--flowlet-color-primary);
}
