.link {
  min-height: 28px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  line-height: 28px;
  vertical-align: middle;
}

.content,
.trailingIcon {
  display: inline-flex;
  align-items: center;
}

.content {
  min-height: 28px;
  gap: 2px;
  line-height: 28px;
}

.trailingIcon {
  font-size: 12px;
}
